{% extends 'store/main.html' %}#
{% load static %}
{% include crispy_tags %}

{% load crispy_forms_tags %}

{% block title %}Aggiungi un nuovo prodotto{% endblock %}



{% block content %}

    <div class="container">
        <div class="thead-dark">
            <h1>Aggiungi un nuovo Prodotto</h1>
            {% crispy form %}

        </div>

    </div>
{% endblock %}