{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">

                <div class="form-inline my-2 my-lg-0">
            <span class="user">
                <div align="Right">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'store' %}" class="btn btn-success">Continua lo Shopping</a>
                    {% else %}
                        <a href="{% url 'store' %}" class="btn btn-success">Continua lo Shopping</a>
                        <a href="{% url 'account:login' %}" class="btn btn-success">Effettua il Login prima di continuare</a>
                    {% endif %}
                </div>
            </span>
                    <br>
                    <br>

                    <table class="table">
                        <tr>
                            <th><h5>Prodotto: <strong>{{ order.get_cart_items }}</strong></h5></th>
                            <th><h5>Totale: <strong>{{ order.get_cart_total|floatformat:2 }}€</strong></h5></th>
                            <th>
                                <a style="float:right; margin:5px" class="btn btn-success" href="{% url 'checkout' %}">Acquista
                                    ora</a>
                            </th>


                        </tr>
                    </table>
                </div>

                <br>

                <div class="box-element">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Prodotto</strong></div>
                        <div style="flex:1"><strong>Prezzo</strong></div>
                        <div style="flex:1"><strong>Quantità</strong></div>
                        <div style="flex:1"><strong>Totale</strong></div>
                    </div>

                    {% for items in items %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="{{ items.prodotto.imageURL }}"></div>
                            <div style="flex:2">{{ items.prodotto.name }} </div>
                            <div style="flex:1">{{ items.prodotto.price|floatformat:2 }}€</div>
                            <div style="flex:1">
                                <p class="quantity">{{ items.quantita }}</p>
                                <div class="quantity">
                                    <img data-prodotto="{{ items.prodotto.id }}" data-action="add"
                                         class="chg-quantity update-cart" src="{% static  'immagini/freccia-su.png' %}">

                                    <img data-prodotto="{{ items.prodotto.id }}" data-action="remove"
                                         class="chg-quantity update-cart"
                                         src="{% static  'immagini/freccia-giu.png' %}">
                                </div>
                            </div>
                            <div style="flex:1"><p>{{ items.get_total }}€</p></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock content %}