{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3 class="text-center text-black pt-5">Risultati della ricerca: </h3>

{% if prodotti %}
    <div class="row">
{% for prodotto in prodotti %}
     <div class="col-lg-4">
                <img class="thumbnail" src="{{ prodotto.imageURL }}">
                <div class="box-element prodotto">
                <h6>{{ prodotto.name }}</h6>
                    <hr>
                <button data-prodotto="{{prodotto.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="/{{prodotto.id}}">View</a>
                <h4 style="display: inline-block; float: right"><strong>€{{ prodotto.price|floatformat:2 }}</strong></h4>

                </div>
            </div>

{% endfor %}
     </div>
{% else %}
<p>---</p>
{% endif %}

<style>
    #login .container #login-row #login-column #login-box {
      margin-top: 5% !important;
    }
    </style>

{% endblock content %}

