{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Nome..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p>Indirizzo di Spedizione:</p>
                        <hr>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="indirizzo" placeholder="Indirizzo..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="citta" placeholder="Città..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="provincia" placeholder="Provincia..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="number" name="cap"
                                   placeholder="Cap..   (solo numeri)">
                        </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continua">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal</small>
                <div id="paypal-button-container"></div>
                <!--button id="make-paymentpaypal">Paga con Paypal</button> -->
            </div>

        </div>

        <div class="col-lg-6">
            <div class="box-element"> <span class="user">
                <div align="Right">
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-outline-dark" href="{% url 'carrello' %}">&#x2190; Torna al Carrello</a>
                    {% else %}
                        <a class="btn btn-outline-dark" href="{% url 'carrello' %}">&#x2190; Torna al Carrello</a>
                        <a href="{% url 'account:login' %}" class="btn btn-outline-dark">Effettua il Login</a>
                    {% endif %}
                </div>
            </span>
                <hr>
                <h3>Riepilogo dell'Ordine</h3>
                <hr>
                {% for items in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ items.prodotto.imageURL }}"></div>
                        <div style="flex:2"><p>{{ items.prodotto.name }}</p></div>
                        <div style="flex:1"><p>€ {{ items.prodotto.price }}</p></div>
                        <div style="flex:1"><p>{{ items.quantita }}</p></div>
                    </div>
                {% endfor %}
                <h5>Prodotti: {{ order.get_cart_items }}</h5>
                <h5>Totale: € {{ order.get_cart_total|floatformat:2 }}</h5>
            </div>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=ASiRXQeFdGrg29dOAeExsIKxZ5hsncvEtXRYeVMWH-M-YJlP1PNlN-6DDL6q2vGSHDp0ceTMc61V5j25&currency=EUR&disable-funding=mybank,sofort"></script>

    <script>
        var total = '{{ order.get_cart_total }}'
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'pill',
                label: 'pay',

            },

            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    submitFormData()
                });
            }


        }).render('#paypal-button-container');
    </script>
    <script type="text/javascript">
        var shipping = '{{ order.shipping }}'
        var total = '{{ order.get_cart_total }}'

        if (shipping == 'False') {
            document.getElementById('shipping-info').innerHTML = ''
        }

        //se l'utente non è un anon user ovvero loggato allora nascondo le info utente (nome, email)
        if (user != 'AnonymousUser') {
            document.getElementById('user-info').innerHTML = ''
        }

        if (shipping == 'False' && user != 'AnonymousUser') {
            //nascondo il form perchè l'utente è loggato e la shipping non serve (prodotto digitale) nascondo tutto.
            document.getElementById('form-wrapper').classList.add("hidden");
            //mostro il pagamento se l'utente è loggato e compra un prodotto digitale
            document.getElementById('payment-info').classList.remove("hidden")
        }

        var form = document.getElementById('form')
        csrftoken = form.getElementsByTagName("input")[0].value
        console.log('Newtoken: ', form.getElementsByTagName("input")[0].value)
        form.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('form inviato...')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        /* document.getElementById('make-paymentpaypal').addEventListener('click', function (e){
             submitFormData()
         }) **/

        function submitFormData() {
            console.log('pagamaneto clicckato')

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }

            var shippingInfo = {
                'indirizzo': null,
                'provincia': null,
                'citta': null,
                'cap': null,

            }

            if (shipping !== 'False') {
                shippingInfo.indirizzo = form.indirizzo.value
                shippingInfo.provincia = form.provincia.value
                shippingInfo.citta = form.citta.value
                shippingInfo.cap = form.cap.value

            }

            if (user == 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            console.log('info spedizione:', shippingInfo)
            console.log('info utente:', userFormData)

            var url = "/process_order/"
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})

            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('successo:', data);
                    alert('Transazione andata a buon fine');

                    cart = {}
                    document.cookie = 'carrello=' + JSON.stringify(cart) + ";domain=;path=/"
                    window.location.href = "{% url 'store' %}"
                })
        }
    </script>

{% endblock content %}