{% extends "store/main.html" %}
{% load static %}

{% block title %}
    {{ prodotto.name }}
{% endblock %}
<link rel="icon" href=type="image/icon>


{% block content %}
    <div class="product-detail">
        <img src="
                {% if prodotto.imageURL %}{{ prodotto.imageURL }}{% else %}{% static 'immagini/no_image.png' %}{% endif %}">

        <h1>{{ prodotto.name }}</h1>
        <h2>

        </h2>
        <button data-prodotto="{{ prodotto.id }}" data-action="add"
                class="btn btn-outline-secondary add-btn update-cart">Add to Cart
        </button>
        <p class="price">€{{ prodotto.price }}

            {{ prodotto.description|linebreaks }}
    </div>
{% endblock %}