{% extends 'store/main.html' %}#
{% load static %}

{% block title %}Grafico per giorno{% endblock %}

{% block content %}

<div class="container" size="80px">

    <canvas id="myChart"></canvas>



    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Codice Ref. </th>
                <th scope="col">Data Ordine</th>
                <th scope="col">UserName</th>
                <th scope="col">Indrizzo</th>
                <th scope="col">Prodotti e quantita</th>
                <th scope="col">confirmOrder</th>
            </tr>
            </thead>
            <tbody>

            {% for items in norder %}
                {% if not forloop.last %}
                    <tr>
                        <td> {{ items.ref_code }}</td>
                        <td> {{ items.ordered_date }}</td>
                        <td> {{ items.user.first_name }}</td>
                        <td> {{ items.user.shipping_address }}</td>
                        <td> {{ items.getitems }}</td>

                        <td> <a data-product="{{ items.id }}" class="btn btn-success send_data" >Conferma</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>





</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready( function () {



             $(".send_data").click(function () {
                 console.log("ciao");
                var ci = $(this).attr("data-product");

                $.ajax({
                    type: 'POST',
                    url: '{% url "order-conf-ajax" %}',
                    data: {
                        username: ci, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            alert("confirmed");
                            //$(".alert").toggleClass('in show');
                            location.reload();
                            //window.location.assign("/accounts/login?next=" + window.location.pathname)
                        }
                        else {
                            alert("andata male.");
                            //window.location.assign("/accounts/login?next=" + window.location.pathname)

                        }
                    },
                    error : function (richiesta,stato,errori) {
                        alert("E' evvenuto un errore. Il stato della chiamata: "+stato);
                    }
                });

            });





            var key=[], value=[];
            {% for  key, value in items %}
                key.push({{ key }})
                value.push({{ value }})
            {% endfor %}

            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: key,
                    datasets: [{
                        label: ['Ordini totali per giorno'],
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: value,
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'Ordini di  un mese'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                max: Math.max.apply(null, value)+3,
                                min: 0,
                                stepSize: 2
                            }
                        }]
                    }
                }
            });

        });
    </script>

{% endblock %}




{% block javascript %}


{% endblock %}