<!DOCTYPE html>
{% load static %}
<html>
<meta charset="utf-8"/>
<title>{% block title %}Tiri Vispi Weasley{% endblock %}</title>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/icon type">
<link href="{% static 'css/main.css' %}" rel="stylesheet">


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getToken('csrftoken')

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");
        for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            if (name == cookiePair[0].trim()) {
                // Decode the cookie value and return
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }

    var cart = JSON.parse(getCookie('carrello'))

    if (cart == undefined) {
        cart = {}
        console.log('carrello creato!', cart)
        document.cookie = 'carrello=' + JSON.stringify(cart) + ";domain=;path=/"
    }
    console.log('Carrello:', cart)
</script>

</head>
<body>

<div id="progressbar"></div>
<div id="scrollPath"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}" style="width: 35%"> <img src="{% static 'immagini/Titolo.png' %}"
                                                                              width="55%"> </a>
    <form class="form-inline my-2 my-lg-0" action="{% url 'cerca' %}">
        <input name="q" class="inputCerca form-control mr-sm-2" type="search" placeholder="cerca" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Cerca</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}"><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

    <div class="form-inline btn-group dropdown y-2 my-lg-0">
                <span class="user">
                    <div align="Right">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" align="right">
                                <a class="dropdown-item" href="{% url 'item-add' %}">Add product</a>
                                <a class="dropdown-item" href="/admin" id="id_btn_home"><b>Pannello di Admin</b></a>
                                <a class="dropdown-item" href="{% url 'order-conf' %}">controlla ordini</a>
                                <a class="dropdown-item" href="{% url 'Myorder' %}">I miei Ordini</a>
                                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                                </div>

                            {% endif %}
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ request.user }}
                                </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" align="right">
                                <a class="dropdown-item" href="{% url 'Myorder' %}">I miei Ordini</a>
                                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                              </div>
                        {% else %}
                            <a href="{% url 'account:login' %}" class="btn btn-success">Login</a>
                        {% endif %}
                    </div>
                </span>
        <a href="{% url 'carrello' %}">
            <img id="cart-icon" src="{% static 'immagini/carrello.png' %}">
        </a>
        <p id="cart-total">{{ cartItems }}</p>
    </div>

</nav>

<div class="container">
    <br>
    {% block content %}


    {% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript">
    let progress = document.getElementById('progressbar');
    let totalHeight = document.body.scrollHeight - window.innerHeight;
    window.onscroll = function () {
        let progressHeight = (window.pageYOffset / totalHeight) * 110;
        progress.style.height = progressHeight + "%";
    }

</script>

</body>
</html>