{% extends 'store/main.html' %}#
{% load static %}
{% load crispy_forms_tags %}

{% block title %}I miei ordini{% endblock %}

{% block content %}


    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Codice Ordine</th>
                <th scope="col">Data ordine</th>
                <th scope="col">Totale ordine</th>
                <th scope="col">Indrizzo</th>
                <th scope="col">Products</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>

            {% for item in norder %}
                <tr>
                    <td> {{ item.ref_code }}</td>
                    <td> {{ item.ordered_date }}</td>
                    <h3><td> {{ item.get_total }} Euro</td> </h3>
                    <td> {{ item.shipping_address }}</td>
                     <td> {{ item.items.count }}</td>
                     <td> {{ item.getitems }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
