{% extends 'store/main.html' %}

{% block title %}
    Modifica password
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salva</button>
    </form>
{% endblock %}