{% extends "store/main.html" %}
{% load static %}

{% block title %}Profilo Utente{% endblock %}
<link rel="icon" href='static/immagini/logo.png' type="image/icon type">


{% block content %}
       <div>
    <h1 style="color: #000000">Benvenuto nel tuo profilo {{ request.user }}</h1>

    <div class="container pt-5" >
        <table class="table table-striped table-dark">

            <tbody>
                       <a class="btn btn-success"  href="{% url 'modica-password' %}">Modifica password</a>
            <a class="btn btn-success"  href="{% url 'Myorder' %}">I Miei Ordini</a>

            </tbody>
        </table>
    </div>

    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Codice Ordine</th>
                <th scope="col">Data ordine</th>
                <th scope="col">Totale ordine</th>
                <th scope="col">Completato</th>
                <th scope="col">N. Prodotti</th>
                <th scope="col">Dettagli</th>
            </tr>
            </thead>
            <tbody>

            {% for item in norder %}
                {% if not forloop.last %}
                    <tr>
                        <td> {{ item.transaction_id }}</td>
                        <td> {{ item.data_ordine }}</td>
                        <h3><td> {{ item.get_cart_total }} Euro</td> </h3>
                        <td> {{ item.shipping }}</td>
                         <td> {{ item.get_cart_items }}</td>
                         <td> {{ item.getitems }}</td>
                    </tr>
                {% endif %}

            {% endfor %}

            </tbody>
        </table>
    </div>

    </div>


{% endblock %}