{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        {% for prodotto in prodotto %}
            <div class="col-lg-4">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img src="{{ prodotto.imageURL }}">
                        </div>
                        <div class="contentBx">
                            <h2>{{ prodotto.name }}</h2>
                            <div class="size">
                                <h3>Prezzo: <strong>€{{ prodotto.price|floatformat:2 }}</strong></h3>
                            </div>
                            <div class="color">
                                <a class="btn btn-outline-success" href="{{ prodotto.id }}">Dettagli</a>
                            </div>
                            <a data-prodotto="{{ prodotto.id }}" data-action="add"
                               class="btn btn-outline-secondary add-btn update-cart">Aggiungi al carrello</a>
                        </div>
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}