{% extends "store/main.html" %}
{% load static %}

{% block title %}Profilo Utente{% endblock %}
<link rel="icon" href='static/immagini/logo.png' type="image/icon type">


{% block content %}
    <div>
        <h1 style="color: #000000">Benvenuto nel tuo profilo {{ request.user }}</h1>

        <div class="container pt-5" >
            <table class="table table-striped table-dark">

                <tbody>
                <a class="btn btn-success"  href="{% url 'modica-password' %}">Modifica password</a>
                <a class="btn btn-success"  href="{% url 'Myorder' %}">I Miei Ordini</a>

                </tbody>
            </table>
        </div>

        <div class="container">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">UserName</th>
                    <th scope="col">Codice Ordine</th>
                    <th scope="col">Data ordine</th>
                    <th scope="col">Totale ordine</th>
                    <th scope="col">N. Prodotti</th>
                    <th scope="col">Dettagli</th>
                    <th scope="col">Completato</th>


                </tr>
                </thead>
                <tbody>

                {% for item in norder %}
                    {% if not forloop.last %}
                        <tr>
                            <td> {{ item.user.first_name }}</td>
                            <td> {{ item.transaction_id }}</td>
                            <td> {{ item.data_ordine }}</td>
                            <h3><td> {{ item.get_cart_total }} Euro</td> </h3>
                            <td> {{ item.get_cart_items }}</td>
                            <td> {{ item.getitems }}</td>
                            <td> {{ item.shipping }}</td>


                        </tr>
                    {% endif %}

                {% endfor %}

                </tbody>
            </table>
        </div>

                <h3> Orders not completed</h3>

        <div class="container">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">UserName</th>
                    <th scope="col">Codice Ordine</th>
                    <th scope="col">Data ordine</th>
                    <th scope="col">Totale ordine</th>
                    <th scope="col">N. Prodotti</th>
                    <th scope="col">Dettagli</th>
                    <th scope="col">confirmOrder</th>

                </tr>
                </thead>
                <tbody>

                {% for items in norder2 %}
                    {% if items.get_cart_total != 0 %}
                        <tr>
                            <td> {{ items.user.first_name }}</td>
                            <td> {{ items.transaction_id }}</td>
                            <td> {{ items.data_ordine }}</td>
                            <h3><td> {{ items.get_cart_total }} Euro</td> </h3>
                            <td> {{ items.get_cart_items }}</td>
                            <td> {{ items.getitems }}</td>
                            <td> <a data-product="{{ items.id }}" class="btn btn-success  send_data" >Conferma</a></td>

                        </tr>
                    {% endif %}

                {% endfor %}

                </tbody>
            </table>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready( function () {



             $(".send_data").click(function () {
                 console.log("ciao");
                var ci = $(this).attr("data-product");

                $.ajax({
                    type: 'POST',
                    url: '{% url "order-conf-ajax" %}',
                    data: {
                        username: ci, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            alert("confirmed");
                            //$(".alert").toggleClass('in show');
                            location.reload();
                            //window.location.assign("/accounts/login?next=" + window.location.pathname)
                        }
                        else {
                            alert("andata male.");
                            //window.location.assign("/accounts/login?next=" + window.location.pathname)

                        }
                    },
                    error : function (richiesta,stato,errori) {
                        alert("E' evvenuto un errore. Il stato della chiamata: "+stato);
                    }
                });

            });





            var key=[], value=[];
            {% for  key, value in items %}
                key.push({{ key }})
                value.push({{ value }})
            {% endfor %}

            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: key,
                    datasets: [{
                        label: ['Ordini totali per giorno'],
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: value,
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'Ordini di  un mese'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                max: Math.max.apply(null, value)+3,
                                min: 0,
                                stepSize: 2
                            }
                        }]
                    }
                }
            });

        });
    </script>

{% endblock %}




