body{
	background-color: hsla(0, 0%, 59.2%, 0.41);
}
h2{
    color: white;
}
h1,h3,h4,h5,h6{
	color: hsl(0, 0%, 0%);
}

::-webkit-scrollbar
{
	width: 1px;

}
#scrollPath
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}
#progressbar
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	background: linear-gradient(to top,#008aff,#00ffe7);
	animation: animate 4s linear infinite;
}
@keyframes animate
{
	0%,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}
#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(10px);
}
#progressbar:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(30px);
}



.dropdown{
    margin-top: -0.5rem;
    position: relative;
 }

.dropdown-menu{
  min-width: 1rem ;
  position: absolute;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);

}

.prodotto{
	border-radius: 0 0 4px 4px;

}

.bg-dark{
	background-color: #000000 !important;
		cursor: url(use160.png),pointer;

}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;

	}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;

}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;

}

.btn{
	border-radius: 0;
	align-content: flex-end;

}

.row-image{
	width: 100px;
}

.container{
  position: relative;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #28a745;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Vispi';
    position: absolute;
  top: 30%;
  left: -5%;
  font-size: 9em;
  font-weight: 700;
  font-style: italic;
  color: rgba(19, 182, 57, 0.05);

}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.4s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);

}

.container .card .imgBx img{
  position: absolute;
    width: 100%;
	height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
    opacity: 90%;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.4s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h3{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #283adc;
}



.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}



.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;

}

.cart-row{
	display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	display: block;
	margin-top: 5px;
	transition:.1s;

}

.chg-quantity:hover{
	opacity: .6;

}


.hidden{
	display: none!important;

}

.product-detail {
    text-align:justify;

}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;

}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;


}

.product-detail h1 {
    margin-bottom:0;

}

.product-detail h2 {
    margin-top:10px;

}

.user{
	color: white;

}
