<!DOCTYPE html>
<html>

<head>
    <title>Registrati</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body,
        html {
           background-image: url(https://media.giphy.com/media/oWN1QlTcixGRhnOuiN/giphy.gif);
            background-repeat: repeat;
            background-size: cover;
            background-position: center;
            margin: 0;
            padding: 0;
            height: 100%;
            cursor: url(use160.png), pointer;

        }

        .user_card {
            width: 350px;
            margin-top: auto;
            margin-bottom: auto;
            background: #707070;
            position: relative;
            opacity: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
            cursor: url(use160.png), pointer;

        }

        .form_container {
            margin-top: 20px;
            cursor: url(use160.png), pointer;
        }

        #form-title {
            color: #f9603e;
            cursor: url(use160.png), pointer;

        }

        .login_btn {
            width: 100%;
            background: #7853b3 !important;
            color: white !important;
            cursor: url(use160.png), pointer;

        }

        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
            cursor: url(use160.png), pointer;

        }

        .login_container {
            padding: 0 2rem;
            cursor: url(use160.png), pointer;

        }

        .input-group-text {
            background: #000000 !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
            cursor: url(use160.png), pointer;

        }

        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
            cursor: url(use160.png), pointer;

        }

    </style>

</head>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">Crea Un Account</h3>
                </div>
                <div class="d-flex justify-content-center form_container">

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.first_name }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.last_name }}
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username }}
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                            {{ form.email }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password1 }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password2 }}
                        </div>


                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Registrati">
                        </div>
                    </form>
                </div>

                {{ form.errors }}

                <div class="mt-4" align="Left">
                    <div class="d-flex justify-content-center links">
                        Sei già un nostro cliente? <a href="{% url 'account:login' %}" class="ml-2">Login</a>
                    </div>
                </div>

                <div class="mt-4" align="Left">
                    <div class="d-flex justify-content-center links">
                        Vuoi tornare alla Homepage? <a href="{% url 'store' %}" class="ml-2">Homepage</a>
                    </div>

                </div>
            </div>
        </div>
        <script>

            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder = 'Nome';
            form_fields[2].placeholder = 'Cognome';
            form_fields[3].placeholder = 'Scegli uno Username';
            form_fields[4].placeholder = 'Inserisci la tua Email';
            form_fields[5].placeholder = 'Password';
            form_fields[6].placeholder = 'Conferma la tua Password';


            for (var field in form_fields) {
                form_fields[field].className += ' form-control'
            }
        </script>
    </body>
</html>











